* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v34_569 {
  width: 100%;
  height: 1024px;
  background: rgba(19,17,17,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_640 {
  width: 161px;
  height: 50px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 1200px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v34_573 {
  width: 109px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 1237px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v34_638 {
  width: 118px;
  height: 48px;
  background: rgba(255,0,0,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 1383px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v34_639 {
  width: 57px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 40px;
  left: 1427px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v34_572 {
  width: 344px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 84px;
  left: 804px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v34_571 {
  width: 133px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 18px;
  left: 10px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v34_570 {
  width: 564px;
  height: 165px;
  background: url("v34_570.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 175px;
  overflow: hidden;
}
a:hover {
	text-decoration: none;
}
.v34_641 {
  width: 100%;
  height: 249px;
  background: url("v34_641.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 76px;
  overflow: hidden;
}
.v34_651 {
  width: 100%;
  height: 85px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 418px;
  left: 53px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v34_644 {
  width: 100%;
  height: 65px;
  background: url("v34_644.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 430px;
  left: 116px;
  overflow: hidden;
}
.v34_646 {
  width: 136px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 1138px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_647 {
  width: 108px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 557px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v34_648 {
  width: 202px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 819px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_649 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 228px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v34_650 {
  width: 95px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v34_682 {
  width: 100%;
  height: 312px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 503px;
  left: 69px;
  overflow: hidden;
}
.v34_666 {
  width: 307px;
  height: 203px;
  background: url("v34_666.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 576px;
  left: 164px;
  overflow: hidden;
}
.v34_667 {
  width: 219px;
  height: 135px;
  background: url("v34_667.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v34_668 {
  width: 307px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 146px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v34_669 {
  width: 91px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 171px;
  left: 17px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v34_654 {
  width: 85px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 512px;
  left: 108px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v34_652 {
  width: 97px;
  height: 29px;
  background: url("v34_652.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 512px;
  left: 232px;
  overflow: hidden;
}
.v34_653 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v34_683 {
  width: 48px;
  background: url("v34_683.png");
  opacity: 1;
  position: absolute;
  top: 524px;
  left: 176px;
  border: 2px solid rgba(0,0,0,1);
  transform: rotate(-1deg);
}
.v34_684 {
  width: 284px;
  height: 225px;
  background: url("v34_684.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 558px;
  left: 564px;
  overflow: hidden;
}
.v34_655 {
  width: 284px;
  height: 225px;
  background: url("v34_655.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_656 {
  width: 284px;
  height: 206px;
  background: url("v34_656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_657 {
  width: 284px;
  height: 44px;
  background: url("v34_657.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 162px;
  left: 0px;
  overflow: hidden;
}
.v34_658 {
  width: 284px;
  height: 44px;
  background: url("v34_658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_659 {
  width: 284px;
  height: 44px;
  background: url("v34_659.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_660 {
  width: 284px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v34_661 {
  width: 231px;
  height: 156px;
  background: url("v34_661.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 25px;
  overflow: hidden;
}
.v34_662 {
  width: 231px;
  height: 156px;
  background: url("v34_662.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_663 {
  width: 231px;
  height: 156px;
  background: url("v34_663.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_664 {
  width: 231px;
  height: 156px;
  background: url("v34_664.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_665 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 187px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v34_670 {
  width: 259px;
  height: 220px;
  background: url("v34_670.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 558px;
  left: 961px;
  overflow: hidden;
}
.v34_671 {
  width: 251px;
  height: 220px;
  background: url("v34_671.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_672 {
  width: 251px;
  height: 220px;
  background: url("v34_672.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_673 {
  width: 251px;
  height: 138px;
  background: url("v34_673.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_674 {
  width: 130px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 177px;
  left: 13px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v34_675 {
  width: 247px;
  height: 26px;
  background: url("../images/v34_675.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 154px;
  left: 12px;
  overflow: hidden;
}
.v34_676 {
  width: 247px;
  height: 26px;
  background: url("v34_676.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_677 {
  width: 247px;
  height: 26px;
  background: url("v34_677.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_678 {
  width: 247px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v34_679 {
  width: 387px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 885px;
  left: 87px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v34_680 {
  width: 140px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 927px;
  left: 1052px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v34_681 {
  width: 75px;
  height: 69px;
  background: url("v34_681.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 903px;
  left: 961px;
  overflow: hidden;
}
